<a href="https://colab.research.google.com/github/alanantony444/ict-assignment/blob/main/Assingment01_alan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

question number 1

In [ ]:
a=int(input("price of good 1 :"))
b=int(input("quantity of good 2 :"))
c=int(input("price of good 2 :"))
d=int(input("quantity of good 2:"))
t=a*b+c*d
print(t)

price of good 1 :45
quantity of good 2 :3
price of good 2 :30
quantity of good 2:2
195

question 2

In [ ]:
c=int(input("enter temperature in celcius :"))
f=(c*9/5)+32
print(f)

enter temperature in celcius :30
86.0

question 3

In [ ]:
a=float(input("enter the first number :"))
n=a+(0.20*a)+(0.10*a)
print("net salary:",n)

enter the first number :20000
net salary: 26000.0

question 4

In [ ]:
p=float(input("principal"))
r=float(input("rate of interest"))
t=float(input("time"))
si=(p*r*t)/100
print(si)

principal10000
rate of interest5
time2
1000.0

question 5

In [ ]:
a=float(input("enter the minutes"))
h=a//60
m=a%60
print(h,m)

enter the minutes130
2.0 10.0

question 6

In [ ]:
a=float(input("enter the weight"))
b=float(input("enter the height"))
c=a/(b*b)
print(c)

enter the weight60
enter the height1.65
22.03856749311295

question 7

In [1]:
a=float(input("Enter the price"))
b=float(input("Enter the discount"))
c=a-(a*b)/100
print(c)

Enter the price1200
Enter the discount10
1080.0

question 8

In [4]:
a=float(input("Enter side a:"))
b=float(input("Enter side b:"))
c=float(input("Enter side c:"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)

Enter side a:5
Enter side b:6
Enter side c:7
14.696938456699069

question 9

In [23]:
a=float(input("Enter wall length"))
b=float(input("Enter wall height"))
t=a*b
w=2*(1.5*1.2)
p=t-w
print("total area painted",p)
c=p*25
print("total cost",c)

Enter wall length8
Enter wall height12
total area painted 92.4
total cost 2310.0

Question 10

In [17]:
a=float(input("Enter number of units consumed"))
b=(a*5.2)+100
print(b)

Enter number of units consumed250
1400.0