**Question 1**

In [51]:
def find_max(a, b, c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c
print(find_max(14, 29, 35))

35

Question 2

In [49]:
def sum_list(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
sample_list = [18, 12, 30, 10, 7]
print(sum_list(sample_list))

77

Question 3

In [48]:
my_list = [1, 2, 3, 4, 5]
num = int(input("Enter the number to insert: "))
pos = int(input("Enter the position (index): "))
my_list.insert(pos, num)
print("Updated list:", my_list)

Enter the number to insert: 25
Enter the position (index): 4
Updated list: [1, 2, 3, 4, 25, 5]

Question 4

In [47]:
sample_dict = {"name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

QUESTION 5

In [46]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
    }
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

Question 6

In [45]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
print(tuple2)

(44, 55)

Question 6

In [44]:
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
count_50 = tuple1.count(50)
print("Occurrence of 50:", count_50)

Occurrence of 50: 3